.container {
    @apply w-[1120px];
}

.weDo a {
    text-decoration: none;
    @apply text-primary hover:text-blue-900 ease-in transition-all;
}

.weDo p {
    color: #353535;
    @apply font-normal font-medium text-[18px] w-full;
    line-height: 2.5rem;
}

.services div {
    color: #2D2D2D;
    @apply py-2 text-3xl font-medium hover:text-primary ease-in transition-all uppercase cursor-pointer;
}

.line {
    @apply w-1/4 border-b border-gray-500 opacity-25;
}