.container {
    @apply w-[1120px];
}

.weDo a {
    text-decoration: none;
    @apply hover:text-blue-900;
}

.weDo p {
    color: #353535;
    @apply font-normal font-medium text-[18px] w-full;
    line-height: 2.5rem;
}

.services div {
    color: #353535;
    @apply py-2 text-3xl font-medium ease-in transition-all uppercase;
}

.line {
    @apply w-1/4 border-b border-gray-500 opacity-25;
}