#container {
    background-image: url('../component/services/background.jpg');
}

.container {
    @apply h-[1275px] w-full bg-secondary flex flex-col items-center;
}

.gridContainer {
    @apply w-[650px] h-auto rounded-xl flex flex-col items-center;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}


.gridContainer span {
    @apply text-2xl font-medium;
}

.gridContainer img {
    @apply w-8 h-auto flex;
}

.statistics {
    @apply text-white text-5xl;
}

.gridContainer span {
    @apply text-white;
}

.weDo a {
    text-decoration: none;
    @apply hover:text-blue-900;
}

.weDo p {
    color: #353535;
    @apply font-normal font-medium text-[18px] w-full;
    line-height: 2.5rem;
}

.services div {
    color: #353535;
    @apply py-2 text-3xl font-medium ease-in transition-all uppercase;
}

.line {
    @apply w-1/4 border-b border-gray-500 opacity-25;
}

.about {
    @apply text-white text-6xl w-[1316px] font-black;
}

.videoContainer {
    @apply w-full relative h-[650px] pt-6;
}

.video {
    @apply h-[650px] w-full object-cover pt-6;
}
